@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Lobster&family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,800;1,400;1,600;1,800&family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

:root {
  /*Colours*/
  --colour-onyx-black: #3c3c3c;
  --colour-bittersweet-red: #ff5a5f;
  --colour-baby-powder-white: #fffdf7;
  --colour-picton-blue: #00a7e1;
  --colour-black: #333;

  --colour-atlantis-green: #97cd2d;
  --colour-sea-green: #319056;
  --colour-beetle-green: #4c787e;
  --colour-bettle-green-transparent: #4c787e64;

  --colour-barcelona-orange: #ff9500;
  --colour-barcelona-orange-transparent: #ff950064;
  --colour-flame-orange: #e95426;
  --colour-flame-orange-transparent: #e9542664;
  --colour-pale-orange: #ffa756;
  --colour-pastel-orange: #ff964f;
  --colour-pastel-orange-transparent: #ff964f64;
  --colour-blue-rhino: #2e496f;
  --colour-dusky-blue: #475f94;
  --colour-dusky-blue-transparent: #475f9464;

  --colour-river-bed-blue: #434c59;
  --colour-river-ben-blue-transparent: #434c5964;

  --colour-main: var(--colour-river-bed-blue);
  --colour-main-transparent: var(--colour-river-ben-blue-transparent);
  --colour-secondary: var(--colour-beetle-green);
  --colour-secondary--transparent: var(--colour-bettle-green-transparent);
  --colour-secondary--second-shade: var(--colour-sea-green);
  --colour-tertiary: var(--colour-barcelona-orange);
  --colour-tertiary--transparent: var(--colour-barcelona-orange-transparent);
  --colour-tertiary--second-shade: var(--colour-flame-orange);
  --colour-opposite: var(--colour-baby-powder-white);
  /*Filters*/
  --filter-shadow-drop-brightness: brightness(10)
    drop-shadow(3px 3px 0 var(--colour-secondary))
    drop-shadow(3px 3px 0 var(--colour-tertiary));
  --filter-default: drop-shadow(3px 0 0 var(--colour-tertiary))
    drop-shadow(0 -3px 0 var(--colour-secondary));
  --filter-default-big: drop-shadow(3px 0 0 var(--colour-tertiary))
    drop-shadow(0 -3px 0 var(--colour-secondary));
  --filter-default-biggest: drop-shadow(5px 0 0 var(--colour-tertiary))
    drop-shadow(0 -5px 0 var(--colour-secondary));
  /*Fonts*/
  --unique-font: "Space Grotesk", sans-serif, sans;

  --common-font: "Montserrat", "Arial Narrow";
  /*box sizes*/
  --radius-minor: 0.32rem;
  --radius-standard: 0.64rem;
  --radius-greater: 1.24rem;
  --radius-major: 2.48rem;
  /* --page-width: 104rem; */
  --page-width: 128rem;
  /**/
  /*Svgs*/
  --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23e9542696' fill-opacity='0.64' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
  --backgound-image-alternative: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23fffdf7' fill-opacity='0.25' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* General Styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--colour-main);
  /*  background-image: var(--background_image); */
}
svg {
  width: 0;
  height: 0;
}
body,
button,
input,
textarea {
  font-family: var(--common-font);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid var(--colour-tertiary);
  -webkit-text-fill-color: var(--colour-tertiary);
  -webkit-box-shadow: 0 0 0px 1000px var(--colour-secondary) inset;
  backdrop-filter: blur(2px);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  text-align: center;
  color: var(--colour-tertiary);
  opacity: 0.75;
}

.container {
  position: relative;
  z-index: 5;
  max-width: var(--page-width);
  padding: 0 4rem;
  background: var(--colour-main-transparent);
  backdrop-filter: blur(2px);
  background-clip: content-box;
  background-origin: content-box;
  background-position-x: 48px;
  background-position-y: 48px;
  padding: 3rem;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2fr, 1fr);
  align-items: center;
  justify-content: center;
}
.text {
  font-size: 1.5rem;
  color: var(--colour-opposite);
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.15rem 0;
}

.section-header {
  margin-top: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.title {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  line-height: 1;
  font-family: var(--unique-font);
  font-size: 3.5rem;

  margin-bottom: 0.5rem;
}
.title-sm {
  font-size: 2.25rem;
  padding-bottom: 1rem;
  line-height: 1;
  display: inline-block;
  position: relative;
  text-align: center;
}
.footer-logo-label {
  position: relative;
}
.footer-logo-label::after {
  content: "";
  display: block;
  position: absolute;
  width: 20rem;
  height: 0.4rem;
  border-radius: 3px;
  background: linear-gradient(
    to right,
    var(--colour-pale-orange),
    var(--colour-pastel-orange),
    var(--colour-barcelona-orange),
    var(--colour-flame-orange) 70%
  );
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 0.64rem);
}
.title-sm::after {
  content: "";
  display: block;
  position: absolute;
  width: 6rem;
  height: 0.4rem;
  border-radius: 3px;
  background-color: var(--colour-secondary);
  top: calc(100% - 0.36rem);
  left: 50%;
  transform: translateX(-50%);
}
.title p {
  background: linear-gradient(
    to bottom right,
    var(--colour-pale-orange),
    var(--colour-pastel-orange),
    var(--colour-barcelona-orange),
    var(--colour-flame-orange) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.75rem;
  font-family: var(--common-font);
  color: var(--colour-opposite);
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  filter: none;
}
.title:after {
  content: "";
  position: absolute;
  width: 9rem;
  height: 0.4rem;
  border-radius: 3px;
  background-color: var(--colour-secondary);

  bottom: calc(0% - 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  filter: none;
}
.section-header .text {
  padding: 2rem 1rem 2rem 1rem;
  max-width: 1500px;
  margin: 0 auto;
}

.down-left {
  position: absolute;
  bottom: calc(0% + 1.5rem);
  left: calc(0% + 1.5rem);
}
.down-right {
  position: absolute;
  bottom: calc(0% + 1.5rem);
  right: calc(0% + 1.5rem);
  rotate: 270deg;
}

.up-left {
  position: absolute;
  top: calc(0% + 1.5rem);
  left: calc(0% + 1.5rem);
  rotate: 90deg;
}
.up-right {
  position: absolute;
  top: calc(0% + 1.5rem);
  right: calc(0% + 1.5rem);
  rotate: 180deg;
}

.section-corners {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -5;
  filter: var(--filter-shadow-drop-brightness);
}

.section-corners img {
  max-width: 50px;
  aspect-ratio: 1/1;
}

.button {
  display: inline-block;
  position: relative;
  padding: 0.85rem 2rem;
  color: var(--colour-opposite);
  background: linear-gradient(
    to bottom right,
    var(--colour-secondary--second-shade),
    var(--colour-secondary)
  );
  border-radius: var(--radius-standard);
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
  justify-self: center;
}

.button::before {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-standard);
  position: absolute;
  content: attr(data-button);
  font-size: 1.3rem;
  text-transform: uppercase;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: linear-gradient(
    to top left,
    var(--colour-secondary--second-shade),
    var(--colour-secondary)
  );

  transition: opacity 0.5s linear;
  opacity: 0;
}
.button:hover {
  color: var(--colour-tertiary);
}

.button:hover::before {
  opacity: 1;
}
.button i {
  position: relative;
  z-index: 5;
}
/* End of General Styles*/

/* Header */

header {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-around;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background: none;
  backdrop-filter: none;
  max-width: var(--page-width);
  width: 100%;
}
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-logo,
.logo {
  width: 80px;
  display: flex;
  padding: 0.25rem;
  align-items: center;
}
/* .logo:hover {
  transform: rotate(2880deg);
  transition: 5s;
  filter: saturate(2);
} */
.footer-logo-label,
.logo-label {
  font-family: var(--unique-font);
  margin-left: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  justify-self: start;
  background: linear-gradient(
    to bottom right,
    var(--colour-pale-orange),
    var(--colour-pastel-orange),
    var(--colour-barcelona-orange),
    var(--colour-flame-orange) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links ul {
  display: flex;
}
.footer-skills a,
.footer-links a,
.links a {
  display: inline-block;
  padding: 0.9rem 1.2rem;
  color: var(--colour-opposite);
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  transition: 0.3s;
  border-bottom: 0.15rem solid transparent;
}
.links a.active::before,
.links a.active {
  font-size: 1rem;
  padding: 0.8rem 2.1rem;
  border-bottom: none;
}
.links a.active {
  margin-left: 1rem;
}
.footer-skills a:hover,
.footer-links a:hover,
.links a:hover {
  color: var(--colour-tertiary);
  border-bottom: 0.15rem solid var(--colour-tertiary);
}
.links a.active:hover {
  color: var(--colour-tertiary);
  border-bottom: none;
}
.footer-links a.testamonials-link {
  visibility: hidden;
}
.links a.testamonials-link {
  display: none;
}
.hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  align-self: center;
  margin-right: 0.64rem;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  position: relative;
}
.hamburger-menu .bar,
.hamburger-menu::after,
.hamburger-menu::before {
  position: absolute;
  width: 100%;
  height: 5px;
  margin: auto 0;
  background-color: var(--colour-opposite);
  transition: 0.64s;
  content: "";
  display: block;
}

.hamburger-menu::before {
  margin: 6px 0;
  inset: 0;
}
.hamburger-menu::after {
  margin: 24px 0;
  inset: 0;
}
.hamburger-menu.is-active .bar {
  opacity: 0;
}
.hamburger-menu.is-active::before {
  margin: auto 0;
  transform: rotate(-45deg);
  opacity: 1;
}
.hamburger-menu.is-active::after {
  margin: auto 0;
  transform: rotate(45deg);
  opacity: 1;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-content {
  max-width: var(--page-width);
  width: 100%;
}
.header-content .container {
  min-height: calc(100vh - 6rem);
  padding-bottom: 2.5rem;
  text-align: left;
  position: relative;
  align-items: center;
  justify-content: center;
  background: none;
  backdrop-filter: none;
  display: flex;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.header-socials .socials-list {
  height: 22.5rem;
  position: absolute;
  right: 0;
  bottom: calc(75% - 11.25rem);
}
.footer-social-links,
.social-links {
  font-size: 4rem;
  padding: 0.75rem;
  position: relative;
  display: flex;
  cursor: pointer;
  color: var(--colour-tertiary);
  opacity: 0;
  bottom: -300px;
  transition: bottom 0.7s, opacity 0.75s, 0.3s;
}
.footer-social-links a,
.social-links a {
  background: linear-gradient(
    to bottom right,
    var(--colour-main),
    var(--colour-dusky-blue-transparent)
  );
}
.footer-social-links .fa-initial::before,
.social-links .fa-initial::before {
  background: linear-gradient(
    to bottom right,
    var(--colour-pale-orange),
    var(--colour-pastel-orange),
    var(--colour-barcelona-orange),
    var(--colour-flame-orange) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
  border-radius: 50%;
  padding: 1.25rem 1.5rem;
}
.footer-social-links {
  padding: 0;
  opacity: 1;
  bottom: 0;
}
.footer-social-links .fa-initial::before {
  background: var(--colour-opposite);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-social-links .fa-hover,
.social-links .fa-hover {
  position: absolute;
  inset: 0;
  left: 28%;
  top: 13%;
  color: var(--colour-opposite);
  opacity: 0;
  transition: 1s;
}
.footer-social-links .fa-hover {
  left: 23%;
  background: linear-gradient(
    to bottom right,
    var(--colour-pale-orange),
    var(--colour-pastel-orange),
    var(--colour-barcelona-orange),
    var(--colour-flame-orange) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 0;
}
.footer-social-links:hover .fa-hover,
.social-links:hover .fa-hover {
  opacity: 1;
}
.header-title {
  font-size: 11rem;
  line-height: 1.2;
  font-family: var(--unique-font);
  color: var(--colour-opposite);
  filter: var(--filter-default-biggest);
  margin-bottom: 0.5rem;
  text-align: center;
}
.animated-subtitle {
  margin: 0.5rem;
  overflow: hidden;
  text-align: center;
  font-family: var(--unique-font);
}
.animated-subtitle .animated-subtitle--text {
  position: relative;
  font-size: 3rem;
  font-weight: 800;

  margin-left: 0.5rem;
}
.animated-subtitle .animated-subtitle--text.beggining-text {
  /*  background: linear-gradient(
    to right,
    var(--colour-dusky-blue),
    var(--colour-beetle-green),
    var(--colour-sea-green),
    var(--colour-pale-orange)
  ); */
  background: linear-gradient(
    to right,
    var(--colour-pale-orange),
    var(--colour-pastel-orange),
    var(--colour-barcelona-orange),
    var(--colour-flame-orange) 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.animated-subtitle .animated-subtitle--text.end-text {
  background: linear-gradient(
    to left,
    var(--colour-pale-orange),
    var(--colour-pastel-orange),
    var(--colour-barcelona-orange),
    var(--colour-flame-orange) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blinker {
  /* filter: var(--filter-default); */
  background: var(--colour-pale-orange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  animation-play-state: running;
  opacity: 1;
  animation: blinking 1s infinite;
}
@keyframes blinking {
  48% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* End of Header */
/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*About me*/
.about-me {
  overflow: hidden;
}
.about-me .container {
  min-height: 80vh;
}
.about-me .container .grid-2 {
  grid-template-columns: 4fr 5fr;

  padding-bottom: 2.5rem;
  text-align: left;
  position: relative;
}
.about-me-column1 {
  padding: 1rem 0rem 1rem 15%;
  display: flex;
  align-items: center;
  justify-items: center;
}
.image-wrap {
  border-radius: 64% 32% 64% 32% / 32% 64% 32% 72%;
  width: 90%;
  position: relative;
  left: -500px;
  opacity: 0;
  transition: 1s;
  animation: border-blob-animation 10s linear infinite;
}
.image-wrap-lines {
  border-radius: 64% 32% 64% 32% / 32% 64% 32% 72%;
  position: absolute;
  inset: 0;
  background-color: transparent;
  overflow: hidden;
  animation: border-blob-animation 10s linear infinite;
}

.image-wrap-lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1500px;
  height: 500px;
  border-radius: 64% 32% 64% 32% / 32% 64% 32% 72%;
  background: linear-gradient(
    transparent,
    var(--colour-secondary),
    var(--colour-secondary--second-shade),
    var(--colour-secondary),
    transparent
  );
  animation: border-blob-animation 10s linear infinite;
  animation: card-line-rotation 5s linear infinite;
}
.image-wrap-lines::after {
  border-radius: 64% 32% 64% 32% / 32% 64% 32% 72%;
  content: "";
  position: absolute;
  inset: 6px;
  background: linear-gradient(
    to bottom,
    var(--colour-main) 16%,
    var(--colour-blue-rhino) 32%,
    var(--colour-dusky-blue)
  );
  animation: border-blob-animation 10s linear infinite;
}
.animated-line {
  position: absolute;
  left: 0;
  bottom: 320%;
  width: 6px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: var(--colour-atlantis-green);
  rotate: 45deg;
  opacity: 0.64;
  animation: blobs-falling 10s linear infinite;
  animation-play-state: running;
}
.animated-line:nth-child(odd) {
  background-color: var(--colour-bittersweet-red);
}
.animated-line::before {
  position: absolute;
  content: "";
  inset: 0;
  bottom: 7px;
  border-radius: 48% 48% 48% 48% / 16% 16% 96% 96%;
  top: -220px;
  background: linear-gradient(
    to top,
    var(--colour-secondary--second-shade) 32%,
    var(--colour-main),
    var(--colour-main-transparent),
    transparent
  );
  animation: border-blob-animation 10s linear infinite;
}
.animated-line:nth-child(odd)::before {
  background: linear-gradient(
    to top,
    var(--colour-tertiary--second-shade) 32%,
    var(--colour-tertiary),
    var(--colour-main-transparent),
    transparent
  );
}

.line-0 {
  scale: 3.2;
  left: 40%;
  animation-duration: 13s;
}
.line-1 {
  scale: 1.78;
  left: 100%;

  animation-duration: 5s;
}
.line-2 {
  left: 120%;
  scale: 1.28;
  animation-duration: 4.64s;
}
.line-3 {
  left: 70%;
  scale: 1.5;
  animation-duration: 6s;
}
.line-4 {
  left: 140%;
  animation-duration: 3.32s;
}
.line-5 {
  left: 150%;
  scale: 2.24;
  animation-duration: 10s;
}
.line-6 {
  left: 200%;
  scale: 1.64;
  animation-duration: 7s;
}
.line-7 {
  left: 190%;
  scale: 2.92;
  animation-duration: 11s;
}
.line-8 {
  left: 30%;
  scale: 1.92;
  animation-duration: 8s;
}
.line-9 {
  left: 170%;
  scale: 1.08;
  animation-duration: 5s;
}
.line-10 {
  left: 130%;
  scale: 2;
  animation-duration: 9s;
}
.line-11 {
  left: 60%;
  scale: 1.32;
  animation-duration: 6s;
}
@keyframes blobs-falling {
  0% {
    bottom: 120%;
    opacity: 0.96;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: var(--direction);
    bottom: -30%;
    opacity: 0.64;
  }
}

@keyframes border-blob-animation {
  0% {
    border-radius: 48% 48% 48% 48% / 16% 16% 96% 96%;
  }
  32% {
    border-radius: 64% 64% 64% 64% / 32% 32% 64% 64%;
  }
  64% {
    border-radius: 96% 96% 96% 96% / 64% 64% 32% 32%;
  }
  100% {
    border-radius: 48% 48% 48% 48% / 16% 16% 96% 96%;
  }
}
.image {
  border-radius: 64% 32% 64% 32% / 32% 64% 32% 72%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 7/8;
  border: 0.25rem solid transparent;
  animation: border-blob-animation 10s linear infinite;
  /*animation: border-blob-animation 5s linear infinite;*/
}

.photo-one {
  border-radius: 64% 32% 64% 32% / 32% 64% 32% 72%;
  position: absolute;
  max-width: 750px;
  bottom: calc(0% + 0.25rem);
  z-index: 5;
  filter: var(--filter-default-biggest);
  animation: border-blob-animation 10s linear infinite;
}

.about-me-column2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
}
.about-me-column2 .text {
  margin: 1rem 0;
  transition: 0.3s;
  padding-bottom: 1rem;
}

.about-me-column2-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0.75rem;
  padding-bottom: 0.5rem;
}
.tech-stack-icon-container {
  border-top: 4px solid var(--colour-secondary);
  border-bottom: 4px solid var(--colour-secondary);
  border-radius: 1rem;
  opacity: 0;
  transition: 1s;
}
.about-me-column2-row .tech-stack-icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  max-width: 4rem;
  padding-top: 0.5rem;
  align-items: center;
  position: relative;
  left: 300px;
  opacity: 0;
  transition: 1s;
}
.about-me-column2-row .tech-stack-icons:hover {
  scale: 1.64;
}
.about-me-column2- .about-me-buttons {
  position: relative;
  bottom: -300px;
  opacity: 0;
  transition: 1s;
}
.about-me-column2-row a.text {
  padding-bottom: 1rem;
  border: 1px solid transparent;
  padding: 0.5rem;
}
.about-me-column2-row i {
  font-size: 1.5rem;
}
.about-me-column2-row .text span.button {
  height: 4rem;
  width: 4rem;
  padding: 1.2rem 0;
  margin-right: 0.5rem;
  border-radius: 50%;
  font-size: 1.25rem;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-self: center;
}

span.button::before {
  border-radius: 50%;
}
.about-me-column2-row .about-me-links:hover,
.about-me-links:hover span.button {
  color: var(--colour-tertiary);
}

.about-me .section-header h3.title:after {
  width: 21rem;
}
.about-me-title {
  width: 100%;
  position: relative;
  top: -200px;
  opacity: 0;
  text-align: center;
  font-size: 2.25rem;
  line-height: 1.2;
  font-family: var(--unique-font);
  background: linear-gradient(
    to right,
    var(--colour-pale-orange),
    var(--colour-pastel-orange),
    var(--colour-barcelona-orange) 15%,
    var(--colour-flame-orange) 40%,
    var(--colour-flame-orange) 60%,
    var(--colour-barcelona-orange) 85%,
    var(--colour-pastel-orange),
    var(--colour-pale-orange)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.75s;
}
.about-me-column2 .text {
  padding: 1rem 2.48rem;
  margin: 0;
}
.about-me-text {
  position: relative;
  opacity: 0;
  right: -300px;
  transition: 1s;
}
.cv-button {
  position: relative;
  opacity: 0;
  bottom: -300px;
  transition: 1s;
}
/*End of About me*/
/*Records*/

.records {
  margin: 0 5rem;
  background: var(--backgound-image-alternative);
  border-radius: 10%;
  max-width: calc(var(--page-width) - 8rem);
  width: 100%;
  position: relative;
}
.records .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  background: linear-gradient(
    to bottom right,
    var(--colour-main),
    var(--colour-dusky-blue-transparent)
  );
  backdrop-filter: blur(2px);
  border-radius: 10%;
  border-top: 4px solid var(--colour-secondary);
  border-bottom: 4px solid var(--colour-secondary);
  padding: 2rem 0;
}
.record-wrap {
  border: 0.25rem solid var(--colour-secondary);
  background: var(--colour-baby-powder-white);
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  display: flex;
  align-items: center;
  transform: scale(0.1);
  transition: 0.5s;
  opacity: 0;
  position: relative;
}
.record-wrap.active::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(
    var(--colour-secondary--transparent) 0deg,
    var(--colour-secondary--transparent) 1deg,
    transparent 1deg,
    transparent 30deg,
    var(--colour-secondary--transparent) 30deg,
    var(--colour-secondary--transparent) 31deg,
    transparent 31deg,
    transparent 60deg,
    var(--colour-secondary--transparent) 60deg,
    var(--colour-secondary--transparent) 61deg,
    transparent 61deg,
    transparent 90deg,
    var(--colour-secondary--transparent) 90deg,
    var(--colour-secondary--transparent) 91deg,
    transparent 91deg,
    transparent 120deg,
    var(--colour-secondary--transparent) 120deg,
    var(--colour-secondary--transparent) 121deg,
    transparent 121deg,
    transparent 150deg,
    var(--colour-secondary--transparent) 150deg,
    var(--colour-secondary--transparent) 151deg,
    transparent 151deg,
    transparent 180deg,
    var(--colour-secondary--transparent) 180deg,
    var(--colour-secondary--transparent) 181deg,
    transparent 181deg,
    transparent 210deg,
    var(--colour-secondary--transparent) 210deg,
    var(--colour-secondary--transparent) 211deg,
    transparent 211deg,
    transparent 240deg,
    var(--colour-secondary--transparent) 240deg,
    var(--colour-secondary--transparent) 241deg,
    transparent 241deg,
    transparent 270deg,
    var(--colour-secondary--transparent) 270deg,
    var(--colour-secondary--transparent) 271deg,
    transparent 271deg,
    transparent 300deg,
    var(--colour-secondary--transparent) 300deg,
    var(--colour-secondary--transparent) 301deg,
    transparent 301deg,
    transparent 330deg,
    var(--colour-secondary--transparent) 330deg,
    var(--colour-secondary--transparent) 331deg,
    transparent 331deg,
    transparent 360deg,
    var(--colour-secondary--transparent) 360deg
  );
}
.record-circle {
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  background: linear-gradient(
    to bottom right,
    var(--colour-secondary--second-shade),
    var(--colour-secondary)
  );
  color: var(--colour-opposite);
  box-shadow: 0 0 0 1rem transparent;
  transform: scale(0.1);
  transition: 0.5s;
  opacity: 0;
}
.record-wrap.active,
.record-circle.active {
  transform: scale(1);
  opacity: 1;
}

.number {
  font-weight: 400;
  font-size: 2.5rem;
}
/*End of Records*/
/* SKills */

.skills.container {
  max-width: var(--page-width);
  width: 100%;
}
.skills .section-header h3.title:after {
  width: 16rem;
}
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}
/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    var(--colour-blue-rhino),
    var(--colour-dusky-blue) 32%,
    var(--colour-dusky-blue) 68%,
    var(--colour-blue-rhino)
  );
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    var(--colour-blue-rhino),
    var(--colour-dusky-blue) 16%,
    var(--colour-dusky-blue) 84%,
    var(--colour-blue-rhino)
  );
} */
.card-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  height: 300px;
  transition: 0.75s;
  margin: 2rem;
}
.card-wrapper:hover {
  height: 600px;
}
.card-wrapper:hover .card-lines::before {
  animation-play-state: running;
}

.card-wrapper:hover .title-card {
  bottom: 260px;
}

.card-wrapper:hover .text {
  opacity: 1;
  margin: 0;
}
.card-wrapper:hover .icon {
  scale: 2;
}

.card-wrapper:hover .card-imagebox {
  top: 5%;
  width: 250px;
  height: 250px;
}
.card {
  position: relative;
  width: 100%;
  background-color: var(--colour-main-transparent);
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
}

.card::before {
  content: attr(data-card);
  position: absolute;
  top: 6rem;
  left: -6rem;
  font-size: 6rem;
  font-weight: 800;
  line-height: 1;
  color: var(--colour-opposite);
  filter: drop-shadow(2px 2px 0 var(--colour-secondary))
    drop-shadow(2px 2px 0 var(--colour-tertiary));
  opacity: 0.125;
  transform: rotate(90deg);
}
.card-two::before {
  left: -5rem;
}
.card-three::before {
  left: -2.5rem;
}
.card-four::before {
  left: -3.5rem;
}
.card-five::before {
  left: -2rem;
}
.card-six::before {
  left: -2rem;
}
.card-lines {
  position: absolute;
  inset: 0;
  background-color: var(--colour-main);
  overflow: hidden;
}
.card-lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 140px;
  background: linear-gradient(
    transparent,
    var(--colour-secondary),
    var(--colour-secondary--second-shade),
    var(--colour-secondary),
    transparent
  );
  animation: card-line-rotation 4s linear infinite;
  animation-play-state: paused;
}
.card-lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: linear-gradient(
    to bottom,
    var(--colour-main) 30%,
    var(--colour-blue-rhino)
  );
}

@keyframes card-line-rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.card-content {
  width: inherit;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  padding: 1rem 1rem;
  padding-top: 250px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0%;
  height: 500px;
}
.title-card {
  color: var(--colour-opposite);
  filter: drop-shadow(2px 2px 0 var(--colour-secondary))
    drop-shadow(2px 2px 0 var(--colour-tertiary));
  font-weight: 800;
}

.card-content .title-card {
  line-height: 0.8;
  position: absolute;
  bottom: 100px;
  font-size: 2.25rem;
  transition: linear 0.5s;
}
.card-content .text {
  opacity: 0;
  font-size: 1.16rem;
  padding: 1rem;
  transition: ease-out 0.55s;
  filter: drop-shadow(3px 3px 0 var(--colour-main));
  overflow: hidden;
}

.card-imagebox {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translateX(-50%);
  background-color: var(--colour-main);
  transition: 0.5s;
  z-index: 20;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-imagebox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    var(--colour-tertiary) 10%,
    var(--colour-tertiary--second-shade) 40%,
    var(--colour-tertiary--second-shade) 60%,
    var(--colour-tertiary) 90%,
    transparent
  );
  animation: card-imagebox-rotation 6s linear infinite;
}

.card-imagebox::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: var(--colour-main);
}

@keyframes card-imagebox-rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.icon {
  position: absolute;
  width: 100px;
  z-index: 5;
  transition: 0.5s;
  filter: brightness(10);
}

/* End of SKills */
/* Portfolio */

.portfolio {
  position: relative;
  max-width: var(--page-width);
  width: 100%;
}
.portfolio .container {
  background: var(--backgound-image-alternative), var(--colour-main-transparent);
  background-clip: content-box;
  background-origin: content-box;
  background-position-x: 48px;
  background-position-y: 48px;
  padding: 3rem;
  min-height: 50vh;
}

.portfolio .section-header {
  background: linear-gradient(
    to bottom right,
    var(--colour-main),
    var(--colour-dusky-blue-transparent)
  );
  margin-top: 0;
  backdrop-filter: blur(2px);
  width: 100%;
  border: 0.1rem solid var(--colour-secondary);
  border-bottom: 0.5rem solid var(--colour-secondary);
}
.portfolio .section-header .title {
  margin-top: 2rem;
}
.filter {
  position: relative;
  z-index: 3;
  margin: 2rem 0;
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-button {
  outline: none;
  border: none;
  background-color: transparent;
  margin: 0.5rem 0.6rem;
  padding: 1rem 2rem;
  color: var(--colour-tertiary);
  background-color: var(--colour-secondary);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2;
  border-radius: 2rem;
  transition: 0.3s;
}
.filter-button::before {
  display: block;
  content: attr(data-text);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.filter-button.active {
  background-color: var(--colour-opposite);
  color: var(--colour-tertiary);
  font-weight: bold;
}

.grid {
  position: relative;
  z-index: 4;
  width: 100%;
  margin: 2rem 0rem;
}
.grid-item {
  width: 33.33%;
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: center;
}
.gallery-image {
  position: relative;
  width: 100%;
  height: 330px;
  overflow: hidden;
  border-radius: 1rem;
}
.gallery-image img {
  position: absolute;
  height: 115%;
  width: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: 0.5s;
}
.gallery-image:hover img {
  transform: translate(-50%, -50%) scale(1.25);
}
.gallery-image .image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: var(--colour-opposite);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: 0.5s;
}
.gallery-image:hover .image-overlay {
  opacity: 1;
}
.image-overlay .plus {
  position: relative;

  margin: auto 0;
}

.image-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  background-color: var(--colour-main-transparent);
}
.image-overlay h3 {
  margin-top: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.75rem;
  color: var(--colour-tertiary);
  background-color: var(--colour-main-transparent);
}
.project-links {
  border-top: 0.25rem solid var(--colour-opposite);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.25rem 4rem;
  margin-top: 0.25rem;
}
.project-links h5 {
  font-size: 1.5rem;
  font-weight: 300;
}
.github-links,
.live-demo-links {
  font-size: 3rem;
  color: var(--colour-main);
}
.github-links:hover,
.live-demo-links:hover {
  color: var(--colour-tertiary);
}
/* End of Portfolio */
/* Contact */
.contact {
  position: relative;
  z-index: 5;
  max-width: var(--page-width);
  width: 100%;
  /* background-clip: content-box; */
  background-origin: content-box;
}
.contact .container {
  padding: 0;
  margin: 3rem;
}
.contact-box {
  width: 100%;
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: 5fr 6fr;
}
.contact-information {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}
.contact-information .title {
  align-self: center;
}
.contact-information p {
  color: var(--colour-opposite);
}
.information-row-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.28rem;
}
.information-row-wrapper iframe {
  max-width: 400px;
  width: 100%;
  height: 300px;
  border: 2px solid var(--colour-tertiary);
}
.information-wrapper {
  margin-top: 2rem;
}
.information {
  display: flex;
  align-items: center;
}
.information:not(:last-child) {
  margin-bottom: 1.3rem;
}
.information:last-child {
  margin-bottom: 3rem;
}
.contact-form-wrapper {
  background: var(--backgound-image-alternative);
  inset: 10px;
  border-radius: 0.64rem;
  height: calc(100% - 3rem);
}
.contact-form {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 600px;
  height: 100%;
  z-index: 5;
  background: linear-gradient(
    to bottom right,
    var(--colour-main),
    var(--colour-dusky-blue-transparent)
  );
  backdrop-filter: blur(2px);
  padding: 2rem;
  border-radius: 0.64rem;
  border: 4px solid var(--colour-secondary);
}
/* .contact-form::before {
  content: "";
  background: var(--backgound-image-alternative);
  position: absolute;
  border-radius: 5%;
  inset: 0;
} */

.contact-form .title {
  align-self: center;
  text-align: center;
  margin-bottom: 2rem;
}
.contact-info .title::after {
  left: 0;
  transform: initial;
}
.contact-icon {
  min-width: 64px;
  height: 64px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--colour-secondary);
  color: var(--colour-main);
  text-align: center;
  font-size: 1.4rem;
  margin-right: 1rem;
}
.contact-icon i {
  font-size: 2rem;
  line-height: 64px;
  color: var(--colour-tertiary);
}
.info-text {
  font-size: 1.3rem;
  display: inline-block;
}

.contact-form .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 0.6rem;
  position: relative;
}

.contact-message {
  height: 100%;
  resize: none;
}
.contact-input {
  padding: 1rem 2rem;
  margin: 0.6rem 0;
  border: none;
  outline: none;
  background: var(--colour-secondary--transparent);
  backdrop-filter: blur(2px);
  font-size: 1.2rem;
  line-height: 1.2;
  border-radius: 2rem;
  font-weight: 500;
  color: var(--colour-tertiary);
  border: 2px solid transparent;
  transition: border linear 0.25s;
  position: relative;
}
/* .contact-form input:not(placeholder-shown) {
  border-color: var(--colour-tertiary);
} */

.contact-input:focus {
  border-color: var(--colour-tertiary);
}

.contact-input .invalid {
  border-color: var(--colour-bittersweet-red);
}

.contact-form .button {
  border: none;
  outline: none;
  width: 8rem;
  position: relative;
  left: calc(50% - 4rem);
  margin-top: 0.6rem;
}
.contact-message-wrapper {
  position: relative;
  display: inline-block;
  min-height: 250px;
  height: 100%;
  margin-bottom: 0.6rem;
}
.contact-message--character-counter {
  position: absolute;
  pointer-events: none;
  bottom: 1rem;
  right: 1rem;
  color: var(--colour-tertiary);
  font-size: 1.5rem;
}

.error-message {
  background-color: var(--colour-main);
  border: var(--colour-tertiary);
  font-size: 1rem;
  font-weight: 600;
  color: var(--colour-bittersweet-red);
  position: absolute;
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  z-index: 5;
  opacity: 0;
  top: 100%;
  transition: opacity 0.25s;
}
.contact-form--message-box--contact-name {
  max-width: 50%;
}
.contact-form--message-box--contact-surname {
  left: 50%;
}
.contact-form--message-box--contact-email {
  left: 50%;
}

/*End of Contact*/
/* End of Main */
/*Beggining of footer*/

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 4px solid var(--colour-secondary);
  background-color: var(--colour-main);
}

.footer .container {
  width: 100%;
  max-width: 100vw;
  position: relative;
  padding: 2rem 2rem 0 2rem;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colour-opposite);
  background: linear-gradient(
    to bottom right,
    var(--colour-main) 30%,
    var(--colour-dusky-blue)
  );
}
.gird-wrap {
  max-width: var(--page-width);

  inset: 2rem;
  border: 2px solid var(--colour-secondary);
}
.gird-4 {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 3fr;
  padding: 0.64rem;
}

.grid-4-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid
    linear-gradient(
      to bottom right,
      var(--colour-tertiary) 30%,
      var(--colour-dusky-blue)
    );
  padding: 1.24rem 1.24rem;
}

.grid-4-column:last-child {
  border-right: none;
}
.grid-4-column .text {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: bold;
  border: 2px solid var(--colour-opposite);
  padding: 2.48rem 1.24rem;
  background: linear-gradient(
    to bottom right,
    var(--colour-pale-orange),
    var(--colour-pastel-orange) 16%,
    var(--colour-barcelona-orange) 32%,
    var(--colour-flame-orange) 64%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer-logo-and-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.64rem;
}
.footer-logo {
  width: 150px;
}
.footer-skills ul,
.footer-skills li,
.footer-links ul,
.footer-links li {
  display: flex;
  flex-flow: column;
}
.footer-skills ul,
.footer-links ul {
  height: 100%;
  justify-content: space-evenly;
}
.footer-skills a,
.footer-links a {
  font-family: var(--unique-font);
  opacity: 0.64;
  padding: 0.64rem;
  transition: opacity 0.2s linear;
}
.footer-skills a:hover,
.footer-links a:hover {
  opacity: 1;
}
.footer-skills a.active,
.footer-links a.active {
  margin-top: 0.64rem;
  font-size: 1.25rem;
  opacity: 1;
  padding: 0.64rem 1.28rem;
  align-self: center;
  border-bottom: none;
}
.footer-skills .active::before,
.footer-links .active::before {
  font-weight: normal;
  font-size: 1.25rem;
  border-bottom: none;
}
.footer-follow-me .social-links {
  padding: 0;
}
.footer-follow-me ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.64rem;
  margin: 1rem 0 1rem 0;
  border: 2px solid var(--colour-opposite);
}
.footer-follow-me p.text {
  border: none;
  max-width: none;
  padding: 0.64rem 3rem;
  margin: 0;
}
.footer-row {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}
.footer-email-input-wrap {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: auto 3rem;
  padding: 0.64rem 3rem;
}
.footer-email-input {
  background-color: var(--colour-secondary--transparent);
  backdrop-filter: blur(2px);
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.64rem 0 0 0.64rem;
  font-weight: 500;
  color: var(--colour-tertiary);
  font-size: 1.2rem;
  padding: 1.28rem;
}
.email-input-submit {
  font-size: 2rem;
  color: var(--colour-opposite);
  border-radius: 0 0.64rem 0.64rem 0;
  padding: 0.64rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*End of footer*/

/*Media Queries*/
/*Phone*/
@media (max-width: 1440px) {
  .header-socials .socials-list {
    right: 20%;
    left: 20%;
    bottom: 3.2%;
    display: flex;
    height: fit-content;
  }
  .header-socials .socials-list li {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-box {
    width: 100%;
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: auto;
  }
  .contact-information {
    width: 100%;
    padding: 0;
    justify-content: center;
  }
  .information-row-wrapper {
    grid-template-columns: auto;
  }
  .information-row-wrapper iframe {
    justify-self: center;
  }
  .contact-form-wrapper {
    height: fit-content;
    width: 100%;
  }
  .contact-form {
    height: fit-content;
  }
  .gird-4 {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  :root {
    --page-width: 100%;
  }
  html {
    overflow-x: hidden;
  }
  .header-content .container {
    padding: 1rem;
  }
  .header-text {
    margin: 0;
    justify-content: space-between;
  }
  .header-title {
    font-size: 7rem;
  }
  .animated-subtitle {
    height: 200px;
  }
  .animated-subtitle .animated-subtitle--text {
    font-size: 2rem;
  }
  .header-socials .socials-list {
    right: 0;
    left: 0;
    bottom: 3.2%;
    display: flex;
    height: fit-content;
  }
  .header-socials .socials-list li {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-logo {
  }
  .about-me {
    max-width: var(--page-width);
  }
  .about-me .container {
    padding: 0.64rem;
  }
  .about-me .about-me-column2 {
    margin: 0;
  }
  .about-me .about-me-column2-row:nth-child(even) {
    flex-direction: column;
  }
  .about-me-column2 .text {
    padding: 1rem;
  }
  .about-me .container .grid-2 {
    grid-template-columns: auto;
  }
  .tech-stack-icon-container {
    flex-wrap: wrap;
  }
  .tech-stack-icons {
    margin: 0.32rem 1.28rem;
  }
  .records {
    max-width: calc(var(--page-width) - 2rem);
    margin: 0%;
  }
  .records .container {
    flex-direction: column;
  }
  .skills.container {
    padding: 0.64rem;
  }
  .card-wrapper {
    max-width: 350px;
    margin: 2rem 0.64rem;
  }
  .card-wrapper:hover {
    height: 650px;
  }
  .portfolio {
    padding: 3rem 0;
  }
  .portfolio .section-corners {
    z-index: 5;
  }
  .portfolio .container {
    padding: 0;
    z-index: 3;
  }
  .portfolio .filter {
    z-index: 20;
  }

  .portfolio .grid-item {
    width: 50%;
  }
  .contact .container {
    margin: 3rem 0;
  }

  .footer-about .footer-logo {
    width: 130px;
  }
  .footer-logo-and-label {
    flex-direction: column;
  }
  .footer-logo-label,
  .logo-label {
    font-size: 2rem;
  }
}
@media (min-width: 950.5px) {
  .hamburger-menu {
    display: none;
  }
}
@media (max-width: 950px) {
  .section-corners {
    display: none;
  }
  .links ul {
    display: none;
  }
}
@media (max-width: 550px) {
  .card-wrapper {
    max-width: 100%;
    margin: 2rem 0.64rem;
  }
  .card-wrapper:hover {
    height: 600px;
  }
  .portfolio .grid-item {
    width: 100%;
  }
  .gird-4 {
    grid-template-columns: auto;
    justify-content: center;
  }
}
/*End of Phone*/

/*End of Media Queries*/
